<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/webfont.js"></script>
    <script src="/static/js/snap.svg-min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/sequence-diagram-min.js"></script>
    <script src="/static/js/jquery-1.4.1.min.js"></script>
</head>
<body>
<div id="app">
    <el-container>

        <el-header width="10%"><h3>SEQUENCE</h3></el-header>
        <el-container width="80%">
            <el-aside>
                <el-menu class="el-menu-vertical-demo">
                    <el-menu-item v-for="method in methodList" index="1-1">
                        <ul>
                            <li v-for="item in methodList">{{item}}</li>
                        </ul>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <router-view id="sequence"></router-view>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    var routes = [{
        path: '/sequence/:clazz/:method',
        component: sequence
    }]
    var router = new VueRouter({routes})
    var vm = new Vue({
        el: '#app',
        data: function() {
            return {
                methodList:[]
            }
        },
        render:function(createElement){
            console.log(this.methodList)
            return createElement('ul',this.methodList.forEach(function (item) {
                return createElement('li',item);
            }))
        },
        methods:{
            initList: function () {
                var url  = "/sequence/list";
                axios.post(url).then(function(result) {
                    result.data.forEach(function (item) {
                        var method = "<router-link to=/sequence/>"+item+"</router-link>";
                        vm._data.methodList.push(method);
                    })
                })
            }
        },
        router
    })
    vm.initList()
</script>
</html>