<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>

        <el-header width="10%">头部信息</el-header>
        <el-container width="80%">
            <el-aside>
                <el-menu default-active="2"
                         class="el-menu-vertical-demo"
                         @open="handleOpen"
                         @close="handleClose">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>类名1</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">方法1</el-menu-item>
                            <el-menu-item index="1-2">方法2</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <iframe src="http://localhost:8888/sequence/TestController/test()" width="100%" height="800">

                </iframe>
            </el-main>
        </el-container>

        <el-footer width="10%">底部信息</el-footer>

    </el-container>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        },
        methods:{
            alert: function () {
                alert(1);
            }
        }
    })
</script>
</html>