<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="/static/js/webfont.js"></script>
    <script src="/static/js/snap.svg-min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/sequence-diagram-min.js"></script>
    <script src="/static/js/jquery-1.4.1.min.js"></script>
</head>
<body>
<div id="app">
    <el-container>

        <el-header width="10%">头部信息</el-header>
        <el-container width="80%">
            <el-aside>
                <el-menu default-active="2"
                         class="el-menu-vertical-demo"
                         @open="handleOpen"
                         @close="handleClose">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>类名1</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">
                                <router-link to="/sequence/TestController/test()">TestController</router-link>
                            </el-menu-item>
                            <el-menu-item index="1-2">
                                <router-link to="/sequence/TestController/aaa">aaa</router-link>
                            </el-menu-item>
                            <el-menu-item index="1-3">
                                <router-link to="/sequence/TestController/bbb(a,b)">bbb</router-link>
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <router-view id="sequence"></router-view>
            </el-main>
        </el-container>

        <el-footer width="10%">底部信息</el-footer>

    </el-container>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    var sequence={
        template:`
         <body>
            <textarea id="sequenceContext" hidden="hidden">
                {{sequenceContext}}
            </textarea>
            <div id="diagram">
            </div>
         </body>`,
        watch: {
            '$route' (to, from) {
               vm.uri=path;
            }
        }
    }

    var routes = [{
        path: '/sequence/:clazz/:method',
        component: sequence
    }]
    var router = new VueRouter({routes})
    var vm = new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false ,
                uri: '',
                sequenceContext:'    title:TestController.test()\n' +
                    'TestController->ServiceDemo3:serviceDemo3()\n' +
                    'ServiceDemo3->ServiceDemo4:serviceDemo4(null,Integer)\n' +
                    'ServiceDemo4-->ServiceDemo3:\n' +
                    'ServiceDemo3-->TestController:String\n' +
                    'TestController->ServiceDemo1:serviceDemo1()\n' +
                    'ServiceDemo1-->TestController:\n' +
                    'TestController->ServiceDemo2:serviceDemo2()\n' +
                    'ServiceDemo2-->TestController:\n' +
                    'TestController->ServiceDemo2:serviceDemo2_1(String)\n' +
                    'ServiceDemo2-->TestController:\n' +
                    'TestController->ServiceDemo2:serviceDemo2_2(String)\n' +
                    'ServiceDemo2-->TestController:String\n'
            }
        },
        methods:{
            alert: function () {
                alert(1);
            }
        },
        router
    })
</script>
<script>
    var diagram = Diagram.parse($("#sequenceContext").val());
    diagram.drawSVG("diagram", {theme: 'simple'});
</script>
</html>