<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/webfont.js"></script>
    <script src="/static/js/snap.svg-min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/sequence-diagram-min.js"></script>
    <script src="/static/js/jquery-1.4.1.min.js"></script>
    <title>${Title}</title>
</head>
<body>
<textarea id="sequenceContext" hidden="hidden">
    ${sequenceContext}
</textarea>
<div id="diagram">
</div>
<script>
    var diagram = Diagram.parse($("#sequenceContext").val());
    diagram.drawSVG("diagram", {theme: 'simple'});
</script>
</body>
</html>